---
const cards = [
  {
    title: "",
    image: "img/encuesta5.webp",
    description: "TU OPINION ES MUY IMPORTANTE PARA NOSOTROS.",
    href: "/encuesta",
  },
  {
    title: "",
    image: "img/reporte.webp",
    description: "SI VES ALGO QUE NO ESTA BIEN, REPORTALO.",
    href: "/reports",
  },
  {
    title: "",
    image: "img/mapbcs.webp",
    description: "EXPLORA EL MALECON DE LA PAZ CON NUESTRO MAPA INTERACTIVO.",
    href: "/map",
  },
  {
    title: "",
    image: "images/malecon.webp",
    description:
      "EXPLORANDO LA HISTORIA DEL MALECON COSTERO.",
    href: "/historical",
  },
  {
    title: "",
    image: "img/sea.jpg",
    description: "DISFRUTA Y COMPARTE LAS MARAVILLAS FOTOGRAFICAS DE TU MALECON",
    href: "/gallery",
  },
];
---

<div class="bento-container">
  <a href={cards[0].href} class="bento-card full-width">
    <div class="overlay"></div>
    <div class="bento-card-header">
      <div class="bento-card-title">{cards[0].title}</div>
      <div class="bento-card-description">{cards[0].description}</div>
    </div>
    <img src={cards[0].image} alt={cards[0].title} />
  </a>
  <a href={cards[1].href} class="bento-card one-third-width">
    <div class="overlay"></div>
    <div class="bento-card-header">
      <div class="bento-card-title">{cards[1].title}</div>
      <div class="bento-card-description">{cards[1].description}</div>
    </div>
    <img src={cards[1].image} alt={cards[1].title} />
  </a>
  {
    cards.slice(2, 5).map((card) => (
      <a href={card.href} class="bento-card half-width">
        <div class="overlay" />
        <div class="bento-card-header">
          <div class="bento-card-title">{card.title}</div>
          <div class="bento-card-description">{card.description}</div>
        </div>
        <img src={card.image} alt={card.title} />
      </a>
    ))
  }
</div>

<style>
  @font-face {
    font-family: "Komtits";
    src: url("/fonts/KOMTITBR.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "backed";
    src: url("/fonts/KOMTITK_.ttf") format("truetype");
    font-style: italic;
    font-display: swap;
  }
  .bento-card {
    border: 1px solid #4c4956;
    border-radius: 16px;
    overflow: hidden;
    margin: 10px;
    height: 36vh;
    position: relative;
  }
  .bento-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(38, 46, 106, 0.3),
      rgba(0, 0, 0, 0.7)
    );
    z-index: 5;
  }
  .bento-card-header {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(232, 187, 164);
    padding: 15px;
    text-align: left;
    z-index: 10;
  }
  .bento-card-title {
    font-size: 3.5em;
    font-family: "Komtits", sans-serif;
  }
  .bento-card-description {
    font-size: 1.7em;
    font-family: "backed", sans-serif;
  }
  .bento-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
  }
  .bento-card.full-width {
    width: calc(66.66% - 20px);
  }
  .bento-card.half-width {
    width: calc(33.33% - 20px);
  }
  .bento-card.one-third-width {
    width: calc(33.33% - 20px);
  }
</style>
